html{
  background: url("./assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  height:100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}